"*":
  Clean2:
    hideGutter: false
    minimapOpacity: 20
  Zen:
    gutter: true
    minimap: true
    tabs: "multiple"
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "autohide-tree-view":
    hideDelay: 100
    showDelay: 100
    triggerAreaSize: 10
  "color-picker":
    triggerKey: "E"
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "atom-ternjs"
      "editorconfig"
    ]
    packagesWithKeymapsDisabled: [
      "pigments"
      "color-picker"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "60a76e4b-00d1-9e26-588d-c618c6ac9c67"
  "file-icons": {}
  "highlight-selected": {}
  linter: {}
  "linter-eslint":
    globalNodePath: "/home/kedveshentes/.nvm/versions/node/v4.2.6"
  "local-config":
    applyOnActivation: true
  minimap:
    charWidth: 2
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    scrollAnimation: true
    scrollAnimationDuration: 150
  pigments: {}
  "sync-settings":
    _analyticsUserId: "375c3c43-1c92-45e2-81d4-1bae5281d075"
    _lastBackupHash: "13464ff46957043c0fd966a7700f2d8759bf0b27"
    gistId: "2910cd8851fa38c4fbf9"
    personalAccessToken: "01bde4edfc3898a1236acbc6d9b8228d4bd5a7f7"
  tabs:
    tabScrolling: true
    usePreviewTabs: true
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view": {}
  welcome:
    showOnStartup: false
