"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 3
  "exception-reporting":
    userId: "46552160-dc78-4ee1-884a-7b18565b5131"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
".coffee.jsx.source":
  editor:
    tabLength: 4
".ini.source":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    tabLength: 4
".source.ts":
  editor:
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
