packages: [
  "an-old-hope-syntax"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-typescript"
  "autohide-tree-view"
  "color-picker"
  "editorconfig"
  "file-icons"
  "git-time-machine"
  "highlight-selected"
  "linter"
  "local-config"
  "local-settings"
  "minimap"
  "minimap-highlight-selected"
  "monokai-seti"
  "package-sync"
  "parcel"
  "pigments"
  "react"
  "seti-syntax"
  "seti-ui"
  "solarized-seti-ui"
]
